{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %}<title>Meeting Information</title>{% endblock %}
{% block nav %} 
<div class="form-inline my-2 my-lg-0 ml-auto">
        <h6 class="text-dark mx-3 my-auto">Hello, Visitor</h6>
        <a class="btn btn-primary mx-2" href="/dashboard" role="button">Dashboard</a>   
  </div>
{% endblock %}

{% block header %}
<header class="masthead text-white text-center " style="background:url('{% static '/img/bg.jpeg' %}')no-repeat center center fixed;background-size:cover; height: 38rem;">
    <div class="overlay"></div>
    <div class="container">
    <div class="row mx-auto">
        <div class="col">
    <div class="card" style="width: 30rem;">
        <h5 class="card-header bg-info text-monospace text-light text-center">
            <strong>Current Visitor's Information</strong>
        </h5>
    
        <div class="card-body px-lg-5  text-dark">
             <div class="row">
                    <div class="col">
                        <div class="md-form">
                            <small>Name</small>
                            <h4>{{ meeting.visitor_name }}</h4>
                        </div>
                    </div>
                </div>
    
                <div class="md-form my-2">
                        <small>Email</small>
                        <h4>{{ meeting.visitor_email }}</h4>
                </div>

                <div class="md-form mt-4 mb-3">
                        <small>Check In time</small>
                        <h4>{{ meeting.time_in }}</h4>
                </div>
        </div>
        </div>
    </div>
    <div class="col">
            <div class="card text-dark" style="width: 34rem;">
                            <h5 class="card-header bg-info text-monospace text-light text-center">
                                    <strong>Host's Information</strong>
                                </h5>
            <div class="row">
                    <div class="col my-auto">
                            <div class="card-body ">
                                    <h3 class="card-title">{{ host.host_name }}</h3>
                                    <h5 class="card-text">{{ host.host_desc }}</h5>
                            </div>
                    </div>
                    
                    <div class="col">
                    <img src="/media/{{ host.host_image }}" class="card-img-top" alt="...">

                </div>
            </div>
             
            
        
    </div>
</div>
</header>
{% endblock %}